*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#canvas{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(12, 0, 13) 10%, rgb(62, 2, 71) 50%, rgba(12,0,13) 90%);  
}

h1{
    color: #ffff;
    font-family: sans-serif;
    font-size: 4 rem;
    position: absolute;
    bottom: 100px;
}

.player1--score{
    left: 35%;
}

.player2--score{
    right: 35%;
}

.menu {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
